@model ErrorViewModel

<div class="error-div">
    <div class="error-message">
        Error:
        @if (Model.Exception != null) {
            @Model.Exception.Message
        } else {
            @("Unknown")
        }
    </div>

    @if (Model.Exception != null) {
        <div class="error-stacktrace">@(Model.Exception.ToString())</div>
    }
</div>