html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px;
}

.status-message-success {
  color: darkgreen;
  font-style: italic;
}

.status-message-warning {
  color: darkorange;
  font-style: italic;
}

.status-message-error {
  color: darkred;
  font-style: italic;
}